body {
  background-color: rgb(240, 233, 233);
}


body {
  color: rgb(228, 238, 233);
}

.form,
.grettings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  } to{
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
